* {
  font-family: "Open Sans", sans-serif;
}

body { 
  display: grid;
  grid-template-areas: 
    "header header header"
    "nav article ads"
    "footer footer footer";
  grid-template-rows: 3.5rem 1fr auto;
  grid-template-columns: 20% 1fr 15%;
  grid-gap: 0.5rem;
  height: 100vh;
  margin: 0;
  }

  header, footer, article, nav, div {
    padding-left: 0.5rem;
  }

  menu {
    background-color: lightgrey;
    border: 0.1rem solid black;
    color: white;
    border-radius: 1rem;
  }
  menu div {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  header {
    padding-top: 1rem;
    color:white;
    background: gray;
  }

  footer {
    color:white;
    background: gray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5rem;
  }
  footer .row {
    padding: .5em;
    text-align: center;
  }

  .pageHeader {
    grid-area: header;
  }
  .pageFooter {
    grid-area: footer;
  }
  .mainArticle { 
    grid-area: article;      
    }
  .mainNav { 
    grid-area: nav; 
    }
  .siteAds { 
    grid-area: ads; 
    }