.table {
  width: 50%;
}
.table table {
  border-collapse: collapse;
  border: solid grey;
  border-width: 2px 2px;
}
.table table tr td {
  border: solid grey;
  border-width: 2px 2px;
}
.table table th {
  border: solid grey;
  border-width: 2px 2px;
}
.table table tr td input {
  width: 95%;
}
